params {
    genome_size = "5m"                  // Default genome size (5 Mb, Flye format: '5m')
    cpu = 8                             // CPU threads
    memory = 12                         // Memory in GB
}

process {
    withLabel: 'assembly' {
        cpus = params.cpu
        memory = "${params.memory}.GB"
        container = 'staphb/flye:latest'
    }
}

docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}